.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #d7ffd9;
}

.select-btn {
  background: #a5d6a7;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
}
