.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #d7ffd9;
}

@media only screen and (max-width: 1300px) {
  .list {
    flex-direction: column;
  }
}
