.guard-date-input,
.close-schedule-btn,
.show-schedule-btn {
  width: 10rem;
  height: 2rem;
  margin: 0.2rem;
  padding: 0.1rem;
  background: #a5d6a7;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.guard-and-date-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-list {
  list-style: none;
  text-align: start;
  margin: 0.2rem;
}
