.columns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.column_name {
  width: 10rem;
}

.column_max,
.column_min {
  width: 4rem;
  height: 1.5rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: #d7ffd9;
  margin: 0.2rem 1rem;
  padding: 0.2rem;
  text-align: center;
}

.settings-title-name {
  width: 10rem;
}

.settings-title-max,
.settings-title-min {
  width: 4rem;
  margin: 0.2rem 1rem;
}
